/* General page styling */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Georgia', serif;
  background-color: #f0f0f0;
}

/* Main App container */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* Book container */
.book-container {
  display: flex;
  flex-direction:column;
  align-items: center;
  background-color: #f9f9f9;
  padding: 20px;
  width: 1020px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.pages-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}


/* Styling for the single page view */
.page {
  width: 100%;
  padding: 40px 30px;
  box-sizing: border-box;
  background-color: #d6d0d0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  width: 500px;
  height: 500px;
  text-align: center;
  font-family: 'Times New Roman', serif;
  overflow: hidden;
}


.page h3 {
  font-size: 1.6em;
  font-weight: bold;
  color: #333;
  margin: 0 0 15px;
}

.page p {
  font-size: 1.1em;
  line-height: 1.6;
  color: #555;
  margin: 0;
}

/* Navigation buttons */
.navigation {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 1em;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled {
  background-color: #d3d3d3;
  cursor: not-allowed;
}
